<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- Scan for @Controller and @Service classes -->
    <context:component-scan base-package="com.cognizant.springlearn.controller" />
    <context:component-scan base-package="com.cognizant.springlearn.service" />

    <!-- Enables @RequestMapping / @ResponseBody handling and registers the
         default HttpMessageConverters, including MappingJackson2HttpMessageConverter
         (used to convert the Country bean into JSON) -->
    <mvc:annotation-driven />

    <!-- The "India" bean - Spring XML configuration -->
    <bean id="india" class="com.cognizant.springlearn.model.Country">
        <property name="code" value="IN" />
        <property name="name" value="India" />
    </bean>

    <!-- Pulls in the "countryList" bean (List<Country>) used by CountryService -->
    <import resource="country.xml" />

</beans>
